body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}







button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* button:hover:not(:disabled) {
  background-color: #303cba;
  color: white;
} */

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 500px;
  max-height: 2000px;
  min-width: 20px;
  min-height: 50px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
}
